html, body{
    font-family: sans-serif;
    background-color: #333;
    color: #eee;
}
h2{
    color: #458688;
    font-size: 23px;
}
hr{
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.2;
}
div{
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: row;
}
.item{
    width: 100px;
    height: 100px;
}

/* Color */
.red{
    background-color: #e74c3c;
}
.blue{
    background-color: #3498db;
}
.green{
    background-color: #1abc9c;
}
.yellow{
    background-color: #f1c40f;
}

/* CSS index.html*/
.transitionCheckbox, .transitionRadio{
    width: 30px;
    height: 30px;
}
.transitionText{
    width: 90%;
    height: 30px;
    font-size: 18px;
}

/* CSS animation.html */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-box{    
    width: 400px;
    height: 400px;
    background-color: #444;
    position: relative;
}